<a href="https://colab.research.google.com/github/FazilKlkt/da_assignment/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
df = pd.read_excel('./P9-GlobalMethaneEmissions.xlsx')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1548 non-null   int64
 1   region      1548 non-null   object
 2   country     1548 non-null   object
 3   emissions   1548 non-null   float64
 4   type        1548 non-null   object
 5   segment     1548 non-null   object
 6   reason      1548 non-null   object
 7   baseYear    1548 non-null   object
 8   notes       1548 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 109.0+ KB

In [ ]:
df.shape

(1548, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1548 non-null   int64
 1   region      1548 non-null   object
 2   country     1548 non-null   object
 3   emissions   1548 non-null   float64
 4   type        1548 non-null   object
 5   segment     1548 non-null   object
 6   reason      1548 non-null   object
 7   baseYear    1548 non-null   object
 8   notes       1548 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 109.0+ KB

In [ ]:
df.type.unique()

array(['Agriculture', 'Energy', 'Other', 'Waste'], dtype=object)

In [ ]:
df.reason.unique()

array(['All', 'Fugitive', 'Vented', 'Flared'], dtype=object)

In [ ]:
df.region.unique()

array(['Africa', 'Asia Pacific', 'Central and South America', 'Europe',
       'Middle East', 'North America', 'Other', 'Russia & Caspian',
       'World'], dtype=object)

In [ ]:
df.describe().T

            count       mean         std  min     25%     50%     75%      max
emissions  1116.0  121.27871  587.877635  0.0  1.3875  10.935  54.845  14809.0

In [ ]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df=df[(df["region"]!='World') & (df['segment']!='Total')]

In [ ]:
df.head()

,region,country,emissions,type,segment,reason,baseYear,notes
1,Africa,Algeria,0.052000,Energy,Bioenergy,All,2022,Estimates from end-uses are for 2020 or 2021 (...
2,Africa,Algeria,130.798996,Energy,Gas pipelines and LNG facilities,Fugitive,2022,Not available
3,Africa,Algeria,69.741898,Energy,Gas pipelines and LNG facilities,Vented,2022,Not available
4,Africa,Algeria,213.987000,Energy,Onshore gas,Fugitive,2022,Not available
5,Africa,Algeria,464.308014,Energy,Onshore gas,Vented,2022,Not available

In [ ]:
df.emissions=df.emissions.apply(lambda x:round(x,2))

In [ ]:
df.head()

,region,country,emissions,type,segment,reason,baseYear,notes
1,Africa,Algeria,0.05,Energy,Bioenergy,All,2022,Estimates from end-uses are for 2020 or 2021 (...
2,Africa,Algeria,130.80,Energy,Gas pipelines and LNG facilities,Fugitive,2022,Not available
3,Africa,Algeria,69.74,Energy,Gas pipelines and LNG facilities,Vented,2022,Not available
4,Africa,Algeria,213.99,Energy,Onshore gas,Fugitive,2022,Not available
5,Africa,Algeria,464.31,Energy,Onshore gas,Vented,2022,Not available

In [ ]:
df.describe().T

            count       mean         std  min     25%     50%     75%      max
emissions  1116.0  121.27871  587.877635  0.0  1.3875  10.935  54.845  14809.0

In [ ]:
df.baseYear.value_counts()

2022    1116
Name: baseYear, dtype: int64

In [ ]:
df.baseYear=df.baseYear.replace("2019-2021",2020)

In [ ]:
df.baseYear.value_counts()

2022    1116
Name: baseYear, dtype: int64

In [ ]:
df_region_emission = df[['region','emissions']].copy()
df_region_emission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1522
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   region     1116 non-null   object
 1   emissions  1116 non-null   float64
dtypes: float64(1), object(1)
memory usage: 26.2+ KB

In [ ]:
df_type_emission = df[['type','emissions']].copy()
df_type_emission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1522
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   type       1116 non-null   object
 1   emissions  1116 non-null   float64
dtypes: float64(1), object(1)
memory usage: 26.2+ KB

In [ ]:
df_segment_emission = df[['segment','emissions']].copy()
df_segment_emission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1522
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   segment    1116 non-null   object
 1   emissions  1116 non-null   float64
dtypes: float64(1), object(1)
memory usage: 26.2+ KB

In [ ]:
df_year_emission = df[['baseYear','emissions']].copy()
df_year_emission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1522
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   baseYear   1116 non-null   object
 1   emissions  1116 non-null   float64
dtypes: float64(1), object(1)
memory usage: 26.2+ KB

In [ ]:
df_region_emission.head()

   region  emissions
1  Africa       0.05
2  Africa     130.80
3  Africa      69.74
4  Africa     213.99
5  Africa     464.31

In [ ]:
df_region_type_emission = df[['region','type','emissions']].copy()
df_region_type_emission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1522
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   region     1116 non-null   object
 1   type       1116 non-null   object
 2   emissions  1116 non-null   float64
dtypes: float64(1), object(2)
memory usage: 34.9+ KB

In [ ]:
df_country_type_emission = df[['country','type','emissions']].copy()
df_country_type_emission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1522
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1116 non-null   object
 1   type       1116 non-null   object
 2   emissions  1116 non-null   float64
dtypes: float64(1), object(2)
memory usage: 34.9+ KB

In [ ]:
df_region_segment_emission = df[['region','segment','emissions']].copy()
df_region_segment_emission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1522
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   region     1116 non-null   object
 1   segment    1116 non-null   object
 2   emissions  1116 non-null   float64
dtypes: float64(1), object(2)
memory usage: 34.9+ KB

In [ ]:
df_country_segment_emission = df[['country','segment','emissions']].copy()
df_country_segment_emission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116 entries, 1 to 1522
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1116 non-null   object
 1   segment    1116 non-null   object
 2   emissions  1116 non-null   float64
dtypes: float64(1), object(2)
memory usage: 34.9+ KB